ingest_report.csv
transcode_log.csv
rename_log.csv
*.DS_Store
.idea/
.idea/
.idea/
.env
Slack Tokens.rtf
*.csv
*.db
dist/
build/
*.spec
__pycache__/
saved_views.json
transcode_presets.json
CDL_Extractor.iconset/
*.cdl
column_prefs.jsoncolumn_prefs.json
